<% content_for :title do %>About<% end %>
<h2>About Good Apollo Technologies</h2>
<p>We build the things your customers want. From web sites to mobile apps, games to sick beatz, we have it all. Join our mailing list on the contact page so we can keep you abreast of all of our awesomeness. Let us know if you want us to sponsor an epic rap battle or write lyrics for your next hit single on iTunes. </p>
<h3>
<p>We can do it all... at the speed of soon™</p>
</h3>
<p>A complex system that works is invariably found to have evolved from a simple system that worked. The inverse proposition also appears to be true: A complex system designed from scratch never works and cannot be made to work. You have to start over, beginning with a working simple system.</p>


